---
import DefaultLayout from '../layouts/DefaultLayout.astro'
import PageHeader from '../components/PageHeader.astro'
import ExternalLink from '../components/ExternalLink.astro'

const currentYear = new Date().getFullYear()
---

<DefaultLayout title="About">
  <PageHeader title="About" />
  <main class="container">
    <div class="mx-auto max-w-3xl">
      <div class="prose prose-lg dark:prose-invert">
        <h2>Our Mission</h2>
        <p>
          We’ve always found it tricky to pick the perfect gift for the people we care about. So we started collecting
          gift ideas — ones that were meaningful, thoughtful, and actually made our loved ones smile.
          <br />
          After a while, we thought: why not share them with others?
          <br />
          That’s how MatchaGift was born — a little helper for anyone who wants to give better, more personal gifts without
          the stress.
          <br />
          Got a great gift idea? We’d love to hear it! 💌
        </p>

        <div class="mt-16 border-t border-[var(--border-color-subtle)] pt-8">
          <h2>Contact</h2>
          <p>
            Have questions or suggestions? We'd love to hear from you! Write us <a
              href="https://forms.gle/sfuj4VGcpRWGLhV59">here</a
            >.
          </p>
        </div>

        <div class="mt-16 border-t border-[var(--border-color-subtle)] pt-8">
          <h2>Credits</h2>
          <p>
            Built with <ExternalLink href="https://astro.build/">Astro</ExternalLink> and inspired by{' '}
            <ExternalLink href="https://github.com/markteekman/accessible-astro-starter"
              >accessible Astro starter</ExternalLink
            > by{' '}
            <ExternalLink href="https://github.com/markteekman">Mark Teekman</ExternalLink> of{' '}
            <ExternalLink href="https://www.incluud.dev">Incluud</ExternalLink>.
          </p>
        </div>
      </div>
    </div>
  </main>
</DefaultLayout>
